<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ultimate Tic-tac-toe</title>
    <% include blocks/reset.ejs%>
    <% include blocks/signInCardStyle.ejs%>
    <% include blocks/bodyStyle.ejs%>
</head>
<body>

<% include blocks/header.ejs%>

<form name="signInForm">
    <div class = "signInCard bgBlock">
        <h2>Create your nickname</h2>
        <input name="nickname">
        <button>Start</button>
    </div>
</form>

</body>