<style>
    .headerDiv{
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        font-family: "arial black";
        text-align: center;
        margin-bottom: 5vh;
    }
    .headerDiv h1{
        color: white;
        font-size: 50px;
        line-height: 80px;
    }
</style>


<div class="headerDiv">
    <h1>Ultimate Tic-tac-toe</h1>
</div>